$color1: #000000;
$color2: #ff0d87;
$color3: #ffffff;
$color4: rgba(217, 217, 217);
$color5: #f19653;
$font-medium: "Galano-Medium";
$font-extrabold: "Galano-ExtraBold";
$font-bold: "Galano-Bold";

/* BOOTSTRAP */
$primary: $color1;
$secondary: $color2;
$font-family-sans-serif: "Galano-Regular";
$navbar-light-hover-color: $color2;
$navbar-light-active-color: $color2;

/* SWEETALERT */
$swal2-success: $color2;
